#wrapper {
  background-color:gainsboro;
}
.box {
  background-color:lightyellow;
}
#inside {
}
header {
  background-color:lightskyblue;
}
#logo {
}
#headertitle {
}
#search {
}
nav {
}
#main_body {
}
aside.left_sidebar {
  background-color:lightblue;
}
#sidebar_top {
}
#sidebar_bottom {
}
section {
  background-color:lightsteelblue;
}
#breadcrumb {
}
aside.right_sidebar {
  background-color:lightblue;
}
article {
}
footer {
  background-color:black;
  color:white;
}