/* structural elements */
body {
  color: #0b2161; 
  background-color: #313D61;
  }
#wrapper {
  background-color:gainsboro;
}
.box {
  background-color:lightyellow;
}
#inside {
}
header {
  background-color: #0b2161;
}
#logo {
}
#headertitle {
}
#search {
  border-radius:6px;
  background-color: #0b2161;
  color: #f1f1f1;
}
nav {
}
#main_body {
}
aside.left_sidebar {
  background-color:lightblue;
}
#sidebar_top {
}
#sidebar_bottom {
}
section {
  background-color:lightsteelblue;
}
#breadcrumb {
}
aside.right_sidebar {
  background-color:lightblue;
}
article {
}
footer {
  background-color:black;
  color:white;
}
/* typographical elements */
a {
  color: #3b58b0;
}
a:hover,
a:active,
a:focus {
  color: #f1f1f1;
  background: #0b2161;
}
h1 {
  color: #585c00;
}
h1 a {
  color: #585c00;
}
h1 a:hover {
  color: #c1c75a;
  background: none;
}
h2 {
  color: #559402; 
}
h2 a {
  color: #559402;
}
h2 a:hover {
  color: #c1c75a;
  background: none;
}
h3 {
  color: #68ad0b;
}
h3 a {
  color: #68ad0b;
}
h3 a:hover {
  color: #c1c75a;
  background: none;
}
/* Joomla specific styles */
.moduletable h3 {
  color: #5d0500;
}