/* Global reset and overall styles */
* {
margin:0;
paddin:0;
}
h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address {
margin: 0.5em 0; 
}
li,dd { 
margin-left:1em;
}
fieldset { 
padding:.5em; 
}
body {
font-size:76.1%;
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:1.3em;
}
/* Template layout specific styles */
#wrapper {
}
.box {
}
header {
}
#logo {
}
#headertitle {
}
#search {
}
nav {
}
#main_body {
}
aside.left_sidebar {
}
#sidebar_top {
}
#sidebar_bottom {
}
section {
}
#breadcrumb {
}
aside.right_sidebar {
}
article {
}
footer {
  text-align:center;
}
  /* typographical elements */
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
/* is h1 used anywhere? */
h1 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.9em;
  margin-bottom: 12px;
}
h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: none;
}
h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 550;
  font-size: 1.6em;
  margin-bottom: 5px;  
}
h2 a {
  text-decoration: none;
}
h2 a:hover {
  text-decoration: none;
}
h3 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 3px;
}
h3 a {
  text-decoration: none;
}
h3 a:hover {
  text-decoration: none;
}
/* Joomla specific styles */
.moduletable h3 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 6px;
}
.search {
  text-align:center;
}