
#wrapper {
  width:75%;
  margin:auto;
}
.box {
}
.container {
}
.inside {
  padding:8px;
}
.inside.header {
  padding:0px;
  position:absolute;
  top:10%;
  left:1%;
  width:98%;
  height:80%;
}
header {
  margin-bottom:0px;
  position:relative;
}
img.header {
  height:100%;
  width:100%;
  margin-bottom:-3px;
}
#logo {
  width:50%;
  float:left;
}
#search {
  width:22%;
  float:right;
}
nav {
  clear:both; 
}
nav .inside {
  margin:0;
  padding:0;
}
/*The following part shows how to float three div side by side. The trick is to let float one left,
  one right and one to adapt its position through margin:auto in the middle
  Now there is a new implementation of this.
*/
#content {
  height:100%;
  width:100%;
  float:left;
  min-height:100%;
}
#main_body {
  float:left;
  width:78%;
}
section {
  width:72%;
  float:right;
  overflow:hidden;
}
#breadcrumb {
  margin:5px;
}
aside.left_sidebar {
  float:left;
  width:28%;
  overflow:hidden;
}
#sidebar_top {
  margin:5px;
}
#sidebar_bottom {
  margin:5px;
}
aside.right_sidebar {
  float:right;
  width:22%;
  overflow:hidden;
}
article {
  margin:5px;
  height:100%; /* Only test value, has to be changed to adapt to content */
}
footer {
  clear:both;
}